@model WasJohnLate.Models.EntryTime

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EntryTime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RecorderName" class="control-label"></label>
                <input asp-for="RecorderName" class="form-control" />
                <span asp-validation-for="RecorderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryDateTime" class="control-label"></label>
                <input asp-for="EntryDateTime" class="form-control" />
                <span asp-validation-for="EntryDateTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WasJohnLate" /> @Html.DisplayNameFor(model => model.WasJohnLate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EntryLocation" class="control-label"></label>
                <input asp-for="EntryLocation" class="form-control" />
                <span asp-validation-for="EntryLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

